
a{
    text-decoration: none;
    color: black;
}

a button{
    color: #fff;
    font: 2em sans-serif;
    font-size: 18px;
    background-color: blue;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 20px 15px 20px 15px;
    margin-top: 10px;
}